{% macro menu() -%}
{% set root = 'home' -%}
<ul>
    {%- if navigation.current_index == '' %}
    <li class="active">{{ root.capitalize() }}</li>
    {% else -%}
    <li><a href="/">{{ root.capitalize() }}</a></li>
    {% endif -%}

    {% for dirname in sorted(navigation.directories[1]) -%}
    {% set subdirs = navigation.directories[1][dirname] -%}

    {% if navigation.current_index == dirname -%}
    <li class="active">{{ dirname.capitalize() }}</li>
    {% else -%}
    <li><a href="/{{ dirname }}">{{ dirname.capitalize() }}</a></li>
    {% endif -%}
    {% endfor -%}
</ul>
{% endmacro %}
